html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.gatsby-remark-prismjs-copy-button-container {
  touch-action: none;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 60px;
  left:-20px;
  margin-top: -28px;
  z-index: 1;
  pointer-events: none;
}
.gatsby-remark-prismjs-copy-button {
  cursor: pointer;
  pointer-events: initial;
  font-size: 20px;
  padding: 3px 5px 2px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.88);
}
@media (max-width: 600px) {
  .gatsby-remark-prismjs-copy-button {
    background: rgb(255, 167, 196);
  }
}
.gatsby-remark-prismjs-copy-button:hover {
  background: rgb(255, 167, 196);
}
.gatsby-remark-prismjs-copy-button.copied {
  cursor: default;
  animation: opacity-hide-show 1.6s;
}

@keyframes opacity-hide-show {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
